<div class="container-about py-5 px-4 d-flex flex-column justify-content-start align-items-center">
    <h3 class="heading-text">About</h3>
    <div class="box-container px-4">
      <p class="sub-heading">
        A file storage application in which users can upload their files and store them privately. The users can access the files by signing in using their credentials from anywhere at any time.
      </p>
    </div>    
</div>