<div class="container m-0 d-flex flex-column justify-content-center align-items-center">
    <section class="section-content my-5 px-3 py-5 d-flex justify-content-center align-items-center">
      <span class="material-symbols-outlined symbol">upload_file</span>
      <div class="ml-2">
        <h4 class="heading-text">Share files quickly and easily with Fileshare </h4>
        <h4 class="sub-heading">Share with anyone around the world. Upload files upto 3 GB</h4>
        <a href="#" class="nav-link">
          <button class="btn btn-primary">
            Upload
          </button>
        </Link>
      </div>
    </section>
    <section class="section-content my-5 px-3 py-5 d-flex justify-content-center align-items-center">
    <span class="material-symbols-outlined symbol">account_circle</span>
      <div class="ml-2">
        <h4 class="heading-text">Create a free account</h4>
        <h4 class="sub-heading">Upload your files and store it privately</h4>
        <a href="#" class="nav-link">
          <button class="btn btn-primary">
            SIGN UP
          </button>
        </a>
      </div>
    </section>
</div>
